* {
	margin:0;
	padding:0;
}

input[type="text"], input[type="number"] {
	border: 1px solid #000;
	padding: 4px 12px;
	border-radius: 8px;
	height: 35px;
	width: 60%;
}

input[type="number"] {
    width: 20%;
}

button {
	border: 1px solid #000;
	padding: 4px 12px;
	border-radius: 8px;
	height: 35px;
	background-color: #8EC16D;
}

body {
	font: 15px/1.3 'Open Sans', sans-serif;
	color: #5E5B64;
	text-align: center;
}

form {
	background-color: #61A1BC;
	border-radius: 2px;
	box-shadow: 0 1px 1px #CCC;
	width: 600px;
	padding: 35px 60px;
	margin: 80px auto; 
}

form h1 {
	color: #FFF;
	font-size: 64px;
	font-family: 'Cookie', cursive;
	font-weight: normal;
	line-height: 1;
	text-shadow: 0 3px 0 rgba(0,0,0,0.1);
}

form ul {
	list-style: none;
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	margin: 20px 0 15px;
}

form ul li {
	padding: 20px 30px;
	background-color: #E35885;
	margin-bottom: 8px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	cursor: pointer;
}

form ul li i {
	float: right;
}

form ul li img {
	padding-bottq: 2px;
}

form ul li.comprado {
	background-color: #8EC16D;
}


